body > #root > div {
    height: 100vh;
  }

.App {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color:white;
}

.timer-buttons {
  text-align: center;
  margin:auto
}

.display{
  font-size:140px;
  width:100%;
  padding-top:30%;
  padding-bottom:20%;
}

.rules {
  width:50%;
  margin: auto;
  padding-top:30%;
  font-size: 24px;
}

.rule {
  padding-top:10px;
  padding-bottom:10px;
}

.timer-button {
  float: left;
  background-color: grey;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:50%;
  height:100%;
  border:10px;
  border-style: solid;
  border-color: black;

  /* margin:10px */
}

.btn-rules {
  margin-top:10px;
  background-color: grey;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:100%;
  height:100%;
  border:10px;
  border-style: solid;
  border-color: black;
}

ul {
    list-style-type: none;
}

input {
  width:100%;
}